.header {
  position: relative;
  padding: 8.5rem 1rem;
}

.header.is-home {
  padding-top: 6.5rem;
  padding-right: 0rem;
  padding-bottom: 4rem;
}

@media screen and (max-width: 991px) {
  .header.is-home {
    padding-top: 12rem;
    padding-bottom: 6rem;
  }
}

@media screen and (max-width: 767px) {
  .header.is-home {
    padding-top: 12rem;
    padding-bottom: 5rem;
  }
}

@media screen and (max-width: 479px) {
  .header.is-home {
    padding-top: 10rem;
    padding-bottom: 5.5rem;
  }
}

.header.is-404 {
  padding-top: 10.625rem;
  padding-bottom: 7.875rem;
}

.header.is-events {
  padding-top: 14rem;
  padding-bottom: 7rem;
}

@media screen and (max-width: 991px) {
  .header.is-events {
    padding-top: 12rem;
    padding-bottom: 6rem;
  }
}

@media screen and (max-width: 767px) {
  .header.is-events {
    padding-top: 12rem;
    padding-bottom: 5rem;
  }
}

@media screen and (max-width: 479px) {
  .header.is-events {
    padding-top: 10rem;
    padding-bottom: 3.75rem;
  }
}

.header.is-about {
  min-height: 100vh;
  padding-top: 14rem;
  padding-bottom: 14rem;
}

@media screen and (max-width: 991px) {
  .header.is-about {
    min-height: auto;
    padding: 12rem 0rem;
  }
}

@media screen and (max-width: 767px) {
  .header.is-about {
    padding-top: 12rem;
  }
}

@media screen and (max-width: 479px) {
  .header.is-about {
    padding-top: 10rem;
  }
}

.header.is-news {
  padding-top: 14rem;
  padding-bottom: 5rem;
}

@media screen and (max-width: 991px) {
  .header.is-news {
    padding-top: 12rem;
    padding-bottom: 6rem;
  }
}

@media screen and (max-width: 767px) {
  .header.is-news {
    padding-top: 12rem;
    padding-bottom: 5rem;
  }
}

@media screen and (max-width: 479px) {
  .header.is-news {
    padding-top: 10rem;
    padding-bottom: 4rem;
  }
}

.header.is-cms-hero {
  padding-top: 14rem;
  padding-bottom: 0rem;
  background-image: linear-gradient(180deg, var(--color-primary--white), var(--color-primary--light-grey));
}

@media screen and (max-width: 991px) {
  .header.is-cms-hero {
    padding-top: 12rem;
    padding-bottom: 6rem;
  }
}

@media screen and (max-width: 767px) {
  .header.is-cms-hero {
    padding-top: 12rem;
    padding-bottom: 4rem;
  }
}

@media screen and (max-width: 479px) {
  .header.is-cms-hero {
    padding-top: 10rem;
    padding-bottom: 0rem;
  }
}

.header.is-industries {
  padding-top: 6.5rem;
  padding-bottom: 4rem;
}

@media screen and (max-width: 991px) {
  .header.is-industries {
    padding-top: 12rem;
    padding-bottom: 2rem;
  }
}

@media screen and (max-width: 767px) {
  .header.is-industries {
    padding-top: 12rem;
    padding-bottom: 5rem;
  }
}

@media screen and (max-width: 479px) {
  .header.is-industries {
    padding-top: 10rem;
    padding-bottom: 4rem;
  }
}

.header.is-events-temp {
  padding-top: 12.5rem;
  padding-bottom: 4.5rem;
}

@media screen and (max-width: 767px) {
  .header.is-events-temp {
    padding-top: 10rem;
    padding-bottom: 4rem;
  }
}

.header.is-nc-hero {
  overflow: hidden;
  padding-top: 13.5rem;
  padding-bottom: 10.75rem;
}

@media screen and (max-width: 991px) {
  .header.is-nc-hero {
    padding-top: 12rem;
    padding-bottom: 4rem;
  }
}

@media screen and (max-width: 767px) {
  .header.is-nc-hero {
    padding-top: 12rem;
  }
}

@media screen and (max-width: 479px) {
  .header.is-nc-hero {
    padding-top: 10rem;
  }
}

.header.is-news-v2 {
  padding-top: 14rem;
  padding-bottom: 5rem;
}

@media screen and (max-width: 991px) {
  .header.is-news-v2 {
    padding-top: 12rem;
    padding-bottom: 6rem;
  }
}

@media screen and (max-width: 767px) {
  .header.is-news-v2 {
    padding-top: 12rem;
    padding-bottom: 7.5rem;
  }
}

@media screen and (max-width: 479px) {
  .header.is-news-v2 {
    padding-top: 10rem;
    padding-bottom: 4rem;
  }
}

.container {
  position: relative;
  max-width: 83rem;
  margin-right: auto;
  margin-left: auto;
}

@media screen and (max-width: 991px) {
  .container.is-nav {
    position: static;
  }
}

.container.is-small {
  max-width: 59rem;
}

@media screen and (max-width: 991px) {
  .container.is-testimonials {
    padding-right: 1rem;
    padding-left: 1rem;
  }
}

.container.is-home-header {
  display: flex;
  max-width: 42rem;
  margin-right: 0px;
  margin-left: 0px;
  flex-direction: column;
  justify-content: flex-start;
  flex-wrap: nowrap;
  align-items: flex-start;
  grid-column-gap: 2.5rem;
  grid-row-gap: 2.5rem;
}

@media screen and (max-width: 991px) {
  .container.is-home-header {
    width: 100%;
    max-width: none;
    padding-right: 3rem;
    flex-direction: row;
    justify-content: center;
    flex-wrap: nowrap;
    align-items: flex-start;
  }
}

@media screen and (max-width: 767px) {
  .container.is-home-header {
    flex-direction: column;
    justify-content: flex-start;
    flex-wrap: nowrap;
    align-items: flex-start;
  }
}

@media screen and (max-width: 479px) {
  .container.is-home-header {
    padding-right: 1rem;
    grid-column-gap: 2rem;
    grid-row-gap: 2rem;
  }
}

.container.is-footer {
  z-index: 3;
}

.container.is-technology {
  padding-right: 1rem;
  padding-left: 1rem;
}

@media screen and (max-width: 767px) {
  .container.is-technology {
    padding-top: 2rem;
  }
}

.is-z-index-2 {
  position: relative;
  z-index: 2;
}

.container.is-about {
  z-index: 3;
}

.container.is-industries-header {
  display: flex;
  max-width: none;
  margin-right: 0px;
  margin-left: 0px;
  flex-direction: column;
  justify-content: flex-start;
  flex-wrap: nowrap;
  align-items: flex-start;
  grid-column-gap: 2rem;
  grid-row-gap: 2rem;
}

@media screen and (max-width: 991px) {
  .container.is-industries-header {
    width: 100%;
    max-width: none;
    padding-right: 3rem;
    flex-direction: column;
    justify-content: center;
    flex-wrap: nowrap;
    align-items: flex-start;
  }
}

@media screen and (max-width: 767px) {
  .container.is-industries-header {
    flex-direction: column;
    justify-content: flex-start;
    flex-wrap: nowrap;
    align-items: flex-start;
  }
}

@media screen and (max-width: 479px) {
  .container.is-industries-header {
    padding-right: 1rem;
    grid-column-gap: 2rem;
    grid-row-gap: 2rem;
  }
}

.container.is-news {
  max-width: 54.875rem;
}

.container.is-nc-hero {
  display: flex;
  max-width: 42rem;
  margin-right: 0px;
  margin-left: 0px;
  flex-direction: column;
  justify-content: flex-start;
  flex-wrap: nowrap;
  align-items: flex-start;
  grid-column-gap: 2rem;
  grid-row-gap: 2rem;
}

@media screen and (max-width: 991px) {
  .container.is-nc-hero {
    width: 100%;
    max-width: none;
    padding-right: 3rem;
    flex-direction: column;
    justify-content: center;
    flex-wrap: nowrap;
    align-items: flex-start;
    grid-column-gap: 1.25rem;
    grid-row-gap: 1.25rem;
  }
}

@media screen and (max-width: 767px) {
  .container.is-nc-hero {
    flex-direction: column;
    justify-content: flex-start;
    flex-wrap: nowrap;
    align-items: flex-start;
  }
}

@media screen and (max-width: 479px) {
  .container.is-nc-hero {
    padding-right: 1rem;
    justify-content: flex-start;
    align-items: flex-start;
    grid-column-gap: 2rem;
    grid-row-gap: 2rem;
  }
}

.container.is-news-v2 {
  max-width: 73rem;
}