.nav {
  position: sticky;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: auto;
  z-index: 999;

  display: flex;
  margin-bottom: -7rem;
  flex-direction: column;
  flex-wrap: nowrap;
}

.nav_banner {
  height: 2.75rem;
  padding: 0.6875rem 1rem;
  transition: transform 200ms ease;
  color: var(--color-primary--white);
  font-size: 0.9375rem;
}

@media screen and (max-width: 479px) {
  .nav_banner.is-gradient {
    display: flex;
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
    justify-content: center;
    align-items: center;
  }
}

.container {
  position: relative;
  max-width: 83rem;
  margin-right: auto;
  margin-left: auto;
}

@media screen and (max-width: 991px) {
  .container.is-nav {
    position: static;
  }
}

.container.is-small {
  max-width: 59rem;
}

@media screen and (max-width: 991px) {
  .container.is-testimonials {
    padding-right: 1rem;
    padding-left: 1rem;
  }
}

.container.is-home-header {
  display: flex;
  max-width: 42rem;
  margin-right: 0px;
  margin-left: 0px;
  flex-direction: column;
  justify-content: flex-start;
  flex-wrap: nowrap;
  align-items: flex-start;
  grid-column-gap: 2.5rem;
  grid-row-gap: 2.5rem;
}

@media screen and (max-width: 991px) {
  .container.is-home-header {
    width: 100%;
    max-width: none;
    padding-right: 3rem;
    flex-direction: row;
    justify-content: center;
    flex-wrap: nowrap;
    align-items: flex-start;
  }
}

@media screen and (max-width: 767px) {
  .container.is-home-header {
    flex-direction: column;
    justify-content: flex-start;
    flex-wrap: nowrap;
    align-items: flex-start;
  }
}

@media screen and (max-width: 479px) {
  .container.is-home-header {
    padding-right: 1rem;
    grid-column-gap: 2rem;
    grid-row-gap: 2rem;
  }
}

.container.is-footer {
  z-index: 3;
}

.container.is-technology {
  padding-right: 1rem;
  padding-left: 1rem;
}

@media screen and (max-width: 767px) {
  .container.is-technology {
    padding-top: 2rem;
  }
}

.is-z-index-2 {
  position: relative;
  z-index: 2;
}

.container.is-about {
  z-index: 3;
}

.container.is-industries-header {
  display: flex;
  max-width: none;
  margin-right: 0px;
  margin-left: 0px;
  flex-direction: column;
  justify-content: flex-start;
  flex-wrap: nowrap;
  align-items: flex-start;
  grid-column-gap: 2rem;
  grid-row-gap: 2rem;
}

@media screen and (max-width: 991px) {
  .container.is-industries-header {
    width: 100%;
    max-width: none;
    padding-right: 3rem;
    flex-direction: column;
    justify-content: center;
    flex-wrap: nowrap;
    align-items: flex-start;
  }
}

@media screen and (max-width: 767px) {
  .container.is-industries-header {
    flex-direction: column;
    justify-content: flex-start;
    flex-wrap: nowrap;
    align-items: flex-start;
  }
}

@media screen and (max-width: 479px) {
  .container.is-industries-header {
    padding-right: 1rem;
    grid-column-gap: 2rem;
    grid-row-gap: 2rem;
  }
}

.container.is-news {
  max-width: 54.875rem;
}

.container.is-nc-hero {
  display: flex;
  max-width: 42rem;
  margin-right: 0px;
  margin-left: 0px;
  flex-direction: column;
  justify-content: flex-start;
  flex-wrap: nowrap;
  align-items: flex-start;
  grid-column-gap: 2rem;
  grid-row-gap: 2rem;
}

@media screen and (max-width: 991px) {
  .container.is-nc-hero {
    width: 100%;
    max-width: none;
    padding-right: 3rem;
    flex-direction: column;
    justify-content: center;
    flex-wrap: nowrap;
    align-items: flex-start;
    grid-column-gap: 1.25rem;
    grid-row-gap: 1.25rem;
  }
}

@media screen and (max-width: 767px) {
  .container.is-nc-hero {
    flex-direction: column;
    justify-content: flex-start;
    flex-wrap: nowrap;
    align-items: flex-start;
  }
}

@media screen and (max-width: 479px) {
  .container.is-nc-hero {
    padding-right: 1rem;
    justify-content: flex-start;
    align-items: flex-start;
    grid-column-gap: 2rem;
    grid-row-gap: 2rem;
  }
}

.container.is-news-v2 {
  max-width: 73rem;
}

.nav_banner-layout {
  position: relative;
  display: none;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 479px) {
  .nav_banner-layout {
    font-size: 0.75rem;
    text-align: center;
  }
}

.nav_banner-close {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;

  display: none;
  width: 0.75rem;
  height: 0.75rem;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: auto;
  justify-content: center;
  align-items: center;
  flex: 0 0 auto;

  cursor: pointer;
}