.page-wrapper {
  display: block;
}

.header {
  position: relative;
  padding: 8.5rem 1rem;
}

.header.is-home {
  padding-top: 6.5rem;
  padding-right: 0rem;
  padding-bottom: 4rem;
}

@media screen and (max-width: 991px) {
  .header.is-home {
    padding-top: 12rem;
    padding-bottom: 6rem;
  }
}

@media screen and (max-width: 767px) {
  .header.is-home {
    padding-top: 12rem;
    padding-bottom: 5rem;
  }
}

@media screen and (max-width: 479px) {
  .header.is-home {
    padding-top: 10rem;
    padding-bottom: 5.5rem;
  }
}

.header.is-404 {
  padding-top: 10.625rem;
  padding-bottom: 7.875rem;
}

.header.is-events {
  padding-top: 14rem;
  padding-bottom: 7rem;
}

@media screen and (max-width: 991px) {
  .header.is-events {
    padding-top: 12rem;
    padding-bottom: 6rem;
  }
}

@media screen and (max-width: 767px) {
  .header.is-events {
    padding-top: 12rem;
    padding-bottom: 5rem;
  }
}

@media screen and (max-width: 479px) {
  .header.is-events {
    padding-top: 10rem;
    padding-bottom: 3.75rem;
  }
}

.header.is-about {
  min-height: 100vh;
  padding-top: 14rem;
  padding-bottom: 14rem;
}

@media screen and (max-width: 991px) {
  .header.is-about {
    min-height: auto;
    padding: 12rem 0rem;
  }
}

@media screen and (max-width: 767px) {
  .header.is-about {
    padding-top: 12rem;
  }
}

@media screen and (max-width: 479px) {
  .header.is-about {
    padding-top: 10rem;
  }
}

.header.is-news {
  padding-top: 14rem;
  padding-bottom: 5rem;
}

@media screen and (max-width: 991px) {
  .header.is-news {
    padding-top: 12rem;
    padding-bottom: 6rem;
  }
}

@media screen and (max-width: 767px) {
  .header.is-news {
    padding-top: 12rem;
    padding-bottom: 5rem;
  }
}

@media screen and (max-width: 479px) {
  .header.is-news {
    padding-top: 10rem;
    padding-bottom: 4rem;
  }
}

.header.is-cms-hero {
  padding-top: 14rem;
  padding-bottom: 0rem;
  background-image: linear-gradient(180deg, var(--color-primary--white), var(--color-primary--light-grey));
}

@media screen and (max-width: 991px) {
  .header.is-cms-hero {
    padding-top: 12rem;
    padding-bottom: 6rem;
  }
}

@media screen and (max-width: 767px) {
  .header.is-cms-hero {
    padding-top: 12rem;
    padding-bottom: 4rem;
  }
}

@media screen and (max-width: 479px) {
  .header.is-cms-hero {
    padding-top: 10rem;
    padding-bottom: 0rem;
  }
}

.header.is-industries {
  padding-top: 6.5rem;
  padding-bottom: 4rem;
}

@media screen and (max-width: 991px) {
  .header.is-industries {
    padding-top: 12rem;
    padding-bottom: 2rem;
  }
}

@media screen and (max-width: 767px) {
  .header.is-industries {
    padding-top: 12rem;
    padding-bottom: 5rem;
  }
}

@media screen and (max-width: 479px) {
  .header.is-industries {
    padding-top: 10rem;
    padding-bottom: 4rem;
  }
}

.header.is-events-temp {
  padding-top: 12.5rem;
  padding-bottom: 4.5rem;
}

@media screen and (max-width: 767px) {
  .header.is-events-temp {
    padding-top: 10rem;
    padding-bottom: 4rem;
  }
}

.header.is-nc-hero {
  overflow: hidden;
  padding-top: 13.5rem;
  padding-bottom: 10.75rem;
}

@media screen and (max-width: 991px) {
  .header.is-nc-hero {
    padding-top: 12rem;
    padding-bottom: 4rem;
  }
}

@media screen and (max-width: 767px) {
  .header.is-nc-hero {
    padding-top: 12rem;
  }
}

@media screen and (max-width: 479px) {
  .header.is-nc-hero {
    padding-top: 10rem;
  }
}

.header.is-news-v2 {
  padding-top: 14rem;
  padding-bottom: 5rem;
}

@media screen and (max-width: 991px) {
  .header.is-news-v2 {
    padding-top: 12rem;
    padding-bottom: 6rem;
  }
}

@media screen and (max-width: 767px) {
  .header.is-news-v2 {
    padding-top: 12rem;
    padding-bottom: 7.5rem;
  }
}

@media screen and (max-width: 479px) {
  .header.is-news-v2 {
    padding-top: 10rem;
    padding-bottom: 4rem;
  }
}

.container {
  position: relative;
  max-width: 83rem;
  margin-right: auto;
  margin-left: auto;
}

@media screen and (max-width: 991px) {
  .container.is-nav {
    position: static;
  }
}

.container.is-small {
  max-width: 59rem;
}

@media screen and (max-width: 991px) {
  .container.is-testimonials {
    padding-right: 1rem;
    padding-left: 1rem;
  }
}

.container.is-home-header {
  display: flex;
  max-width: 42rem;
  margin-right: 0px;
  margin-left: 0px;
  flex-direction: column;
  justify-content: flex-start;
  flex-wrap: nowrap;
  align-items: flex-start;
  grid-column-gap: 2.5rem;
  grid-row-gap: 2.5rem;
}

@media screen and (max-width: 991px) {
  .container.is-home-header {
    width: 100%;
    max-width: none;
    padding-right: 3rem;
    flex-direction: row;
    justify-content: center;
    flex-wrap: nowrap;
    align-items: flex-start;
  }
}

@media screen and (max-width: 767px) {
  .container.is-home-header {
    flex-direction: column;
    justify-content: flex-start;
    flex-wrap: nowrap;
    align-items: flex-start;
  }
}

@media screen and (max-width: 479px) {
  .container.is-home-header {
    padding-right: 1rem;
    grid-column-gap: 2rem;
    grid-row-gap: 2rem;
  }
}

.container.is-footer {
  z-index: 3;
}

.container.is-technology {
  padding-right: 1rem;
  padding-left: 1rem;
}

@media screen and (max-width: 767px) {
  .container.is-technology {
    padding-top: 2rem;
  }
}

.is-z-index-2 {
  position: relative;
  z-index: 2;
}

.container.is-about {
  z-index: 3;
}

.container.is-industries-header {
  display: flex;
  max-width: none;
  margin-right: 0px;
  margin-left: 0px;
  flex-direction: column;
  justify-content: flex-start;
  flex-wrap: nowrap;
  align-items: flex-start;
  grid-column-gap: 2rem;
  grid-row-gap: 2rem;
}

@media screen and (max-width: 991px) {
  .container.is-industries-header {
    width: 100%;
    max-width: none;
    padding-right: 3rem;
    flex-direction: column;
    justify-content: center;
    flex-wrap: nowrap;
    align-items: flex-start;
  }
}

@media screen and (max-width: 767px) {
  .container.is-industries-header {
    flex-direction: column;
    justify-content: flex-start;
    flex-wrap: nowrap;
    align-items: flex-start;
  }
}

@media screen and (max-width: 479px) {
  .container.is-industries-header {
    padding-right: 1rem;
    grid-column-gap: 2rem;
    grid-row-gap: 2rem;
  }
}

.container.is-news {
  max-width: 54.875rem;
}

.container.is-nc-hero {
  display: flex;
  max-width: 42rem;
  margin-right: 0px;
  margin-left: 0px;
  flex-direction: column;
  justify-content: flex-start;
  flex-wrap: nowrap;
  align-items: flex-start;
  grid-column-gap: 2rem;
  grid-row-gap: 2rem;
}

@media screen and (max-width: 991px) {
  .container.is-nc-hero {
    width: 100%;
    max-width: none;
    padding-right: 3rem;
    flex-direction: column;
    justify-content: center;
    flex-wrap: nowrap;
    align-items: flex-start;
    grid-column-gap: 1.25rem;
    grid-row-gap: 1.25rem;
  }
}

@media screen and (max-width: 767px) {
  .container.is-nc-hero {
    flex-direction: column;
    justify-content: flex-start;
    flex-wrap: nowrap;
    align-items: flex-start;
  }
}

@media screen and (max-width: 479px) {
  .container.is-nc-hero {
    padding-right: 1rem;
    justify-content: flex-start;
    align-items: flex-start;
    grid-column-gap: 2rem;
    grid-row-gap: 2rem;
  }
}

.container.is-news-v2 {
  max-width: 73rem;
}

.section {
  position: relative;
  padding: 6.25rem 1rem;
}

@media screen and (max-width: 767px) {
  .section {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }
}

.section.is-marquee {
  padding-top: 5rem;
  padding-bottom: 5rem;
}

@media screen and (max-width: 991px) {
  .section.is-marquee {
    padding-bottom: 6rem;
  }
}

@media screen and (max-width: 767px) {
  .section.is-marquee {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }
}

.section.is-tabs {
  padding-top: 0rem;
  padding-bottom: 6.625rem;
}

@media screen and (max-width: 991px) {
  .section.is-tabs {
    padding-bottom: 6rem;
  }
}

@media screen and (max-width: 479px) {
  .section.is-tabs {
    padding-bottom: 8rem;
  }
}

.section.is-benefits {
  padding-top: 0rem;
}

@media screen and (max-width: 991px) {
  .section.is-benefits {
    padding-bottom: 6rem;
  }
}

@media screen and (max-width: 767px) {
  .section.is-benefits {
    padding-bottom: 4rem;
  }
}

.section.is-cu {
  z-index: 5;

  padding-top: 7.25rem;
  padding-bottom: 7.75rem;

  background-color: var(--color-primary--dark-purple);
  background-image: url("https://cdn.prod.website-files.com/66603dc3a8308da80ba98f5e/66693e841138989d2c946c0b_cta-bg.svg");
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;

  color: var(--color-primary--white);
}

@media screen and (max-width: 991px) {
  .section.is-cu {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }
}

@media screen and (max-width: 479px) {
  .section.is-cu {
    padding-top: 4.5rem;
    padding-bottom: 4.5rem;

    background-image: url("https://cdn.prod.website-files.com/66603dc3a8308da80ba98f5e/666d395a0f2100a7d47b2acc_cta-bg-mobile.svg");
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;
  }
}

.section.is-industries {
  z-index: 1;
  background-color: var(--color-primary--light-grey);
}

@media screen and (max-width: 991px) {
  .section.is-industries {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }
}

@media screen and (max-width: 479px) {
  .section.is-industries {
    overflow: hidden;
    padding-top: 4rem;
    padding-bottom: 4rem;
  }
}

.section.is-testimonials {
  padding-right: 0rem;
  padding-bottom: 7rem;
  padding-left: 0rem;
}

@media screen and (max-width: 991px) {
  .section.is-testimonials {
    padding: 6rem 0rem;
  }
}

@media screen and (max-width: 767px) {
  .section.is-testimonials {
    padding-top: 4.5rem;
    padding-bottom: 4.5rem;
  }
}

@media screen and (max-width: 479px) {
  .section.is-testimonials {
    padding-top: 4rem;
    padding-bottom: 4.5rem;
  }
}

@media screen and (max-width: 991px) {
  .section.is-hiw {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }
}

@media screen and (max-width: 767px) {
  .section.is-hiw {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }
}

.section.is-community {
  padding-top: 6rem;
  background-color: var(--color-primary--dark-purple);
}

@media screen and (max-width: 991px) {
  .section.is-community {
    z-index: 2;
    padding-top: 2rem;
    padding-bottom: 6rem;
  }
}

@media screen and (max-width: 767px) {
  .section.is-community {
    padding-top: 2.5rem;
    padding-bottom: 4rem;
  }
}

.section.is-technology {
  padding: 0rem 0rem 7.25rem;
  background-color: var(--color-primary--dark-purple);
  background-image: none;
  background-size: auto;
  background-repeat: repeat;
}

@media screen and (max-width: 991px) {
  .section.is-technology {
    padding-top: 0rem;
    padding-bottom: 6rem;
    background-size: contain;
  }
}

@media screen and (max-width: 767px) {
  .section.is-technology {
    padding-top: 0rem;
    padding-bottom: 4rem;
  }
}

@media screen and (max-width: 479px) {
  .section.is-technology {
    padding-top: 0rem;
    background-position: 50% 5%;
    background-size: contain;
  }
}

.section.is-home-3grid {
  padding-top: 6rem;
  padding-bottom: 6rem;
  background-image: linear-gradient(90deg, hsla(310.0934579439253, 47.56%, 44.12%, 0.08), hsla(198.13953488372093, 99.08%, 42.55%, 0.08) 50%, hsla(155.63636363636363, 75.34%, 42.94%, 0.08));
}

@media screen and (max-width: 991px) {
  .section.is-home-3grid {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }
}

@media screen and (max-width: 767px) {
  .section.is-home-3grid {
    padding-top: 3.5rem;
    padding-bottom: 3.5rem;
  }
}

@media screen and (max-width: 479px) {
  .section.is-home-3grid {
    padding-top: 4rem;
    padding-bottom: 3.5rem;
  }
}

.section.is-ue {
  padding-top: 0rem;
  padding-bottom: 7rem;
}

@media screen and (max-width: 479px) {
  .section.is-ue {
    padding-right: 0rem;
    padding-bottom: 2rem;
    padding-left: 0rem;
  }
}

.section.is-pe {
  padding-top: 7rem;
  padding-bottom: 8.5rem;
  background-color: var(--color-primary--light-grey);
}

@media screen and (max-width: 479px) {
  .section.is-pe {
    padding: 4rem 1.5rem;
  }
}

.section.is-values {
  background-color: var(--color-primary--light-grey);
}

@media screen and (max-width: 991px) {
  .section.is-values {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }
}

@media screen and (max-width: 767px) {
  .section.is-values {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }
}

.section.is-news-collection {
  padding-top: 0rem;
  padding-bottom: 8.5rem;
}

@media screen and (max-width: 479px) {
  .section.is-news-collection {
    padding-right: 0rem;
    padding-bottom: 6.5rem;
    padding-left: 0rem;
  }
}

@media screen and (max-width: 991px) {
  .section.is-kf-scroll {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }
}

@media screen and (max-width: 767px) {
  .section.is-kf-scroll {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }
}

.section.is-kf-cards {
  z-index: 2;
  border-bottom: 1px solid var(--color-primary--stroke);
  background-color: var(--color-primary--white);
}

@media screen and (max-width: 991px) {
  .section.is-kf-cards {
    padding-top: 6rem;
    padding-bottom: 0rem;
    border-bottom-style: none;
  }
}

@media screen and (max-width: 767px) {
  .section.is-kf-cards {
    padding-top: 4rem;
  }
}

.section.is-kf-benefits {
  background-color: var(--color-primary--light-grey);
}

@media screen and (max-width: 991px) {
  .section.is-kf-benefits {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }
}

@media screen and (max-width: 767px) {
  .section.is-kf-benefits {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }
}

@media screen and (max-width: 991px) {
  .section.is-kf-pf {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }
}

@media screen and (max-width: 767px) {
  .section.is-kf-pf {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }
}

.section.is-cc {
  padding-top: 10rem;
  padding-bottom: 8rem;
}

@media screen and (max-width: 991px) {
  .section.is-cc {
    padding-top: 8.5rem;
    padding-bottom: 8.5rem;
  }
}

@media screen and (max-width: 767px) {
  .section.is-cc {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }
}

@media screen and (max-width: 991px) {
  .section.is-next-industry {
    padding-top: 4.5rem;
    padding-bottom: 4.5rem;
  }
}

@media screen and (max-width: 767px) {
  .section.is-next-industry {
    overflow: hidden;
    padding-bottom: 5.5rem;
  }
}

.section.is-our-team {
  overflow: hidden;
  padding-bottom: 7rem;
  background-image: linear-gradient(90deg, hsla(310.0934579439253, 47.56%, 44.12%, 0.78), hsla(198.13953488372093, 99.08%, 42.55%, 1.00));
  color: var(--color-primary--white);
}

@media screen and (max-width: 991px) {
  .section.is-our-team {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }
}

@media screen and (max-width: 479px) {
  .section.is-our-team {
    padding-top: 4.5rem;
    padding-bottom: 4.5rem;
  }
}

.is-display-hidden {
  display: none;
}

@media screen and (max-width: 991px) {
  .section.is-timeline {
    overflow: hidden;
    padding-top: 4.5rem;
    padding-bottom: 4rem;
    background-color: white;
    background-image: linear-gradient(180deg, hsla(254.99999999999994, 23.08%, 89.80%, 0.10), hsla(0, 0.00%, 100.00%, 1.00));
  }
}

.section.is-cu {
  z-index: 5;

  padding-top: 7.25rem;
  padding-bottom: 7.25rem;

  background-color: var(--color-primary--dark-purple);
  background-image: url("https://cdn.prod.website-files.com/66603dc3a8308da80ba98f5e/66693e841138989d2c946c0b_cta-bg.svg");
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;

  color: var(--color-primary--white);
}

@media screen and (max-width: 991px) {
  .section.is-cu {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }
}

@media screen and (max-width: 479px) {
  .section.is-cu {
    padding-top: 4.5rem;
    padding-bottom: 4.5rem;

    background-image: url("https://cdn.prod.website-files.com/66603dc3a8308da80ba98f5e/666d395a0f2100a7d47b2acc_cta-bg-mobile.svg");
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;
  }
}

@media screen and (max-width: 991px) {
  .section.is-leadership {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }
}

@media screen and (max-width: 767px) {
  .section.is-leadership {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }
}

.section.is-tabs-uc {
  overflow: hidden;
  padding-top: 9rem;
  padding-bottom: 9rem;
  background-color: var(--color-primary--dark-purple);
}

@media screen and (max-width: 991px) {
  .section.is-tabs-uc {
    padding-bottom: 6rem;
  }
}

@media screen and (max-width: 767px) {
  .section.is-tabs-uc {
    padding-top: 5rem;
    padding-bottom: 5rem;
  }
}

.section.is-kb {
  padding-top: 6.25rem;
  padding-bottom: 6.25rem;
}

@media screen and (max-width: 767px) {
  .section.is-kb {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }
}

.section.is-cs-cta {
  background-color: var(--color-primary--light-grey);
}

.section.is-faq {
  background-color: var(--color-primary--light-grey);
}

@media screen and (max-width: 767px) {
  .section.is-faq {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }
}

@media screen and (max-width: 767px) {
  .section.is-industries-why {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }
}

.section.is-blog-continue {
  padding-top: 5rem;
  padding-bottom: 7rem;
}

@media screen and (max-width: 991px) {
  .section.is-blog-continue {
    padding-top: 0rem;
    padding-bottom: 5rem;
  }
}

@media screen and (max-width: 767px) {
  .section.is-blog-continue {
    padding-bottom: 7.5rem;
  }
}

.section.is-industry-banner {
  z-index: 5;

  background-color: var(--color-primary--dark-purple);
  background-image: url("https://cdn.prod.website-files.com/66603dc3a8308da80ba98f5e/66693e841138989d2c946c0b_cta-bg.svg");
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;

  color: var(--color-primary--white);
}

@media screen and (max-width: 479px) {
  .section.is-industry-banner {
    padding-top: 4.5rem;
    padding-bottom: 4.5rem;

    background-image: url("https://cdn.prod.website-files.com/66603dc3a8308da80ba98f5e/666d395a0f2100a7d47b2acc_cta-bg-mobile.svg");
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;
  }
}

.section.is-nc-grid2 {
  padding-top: 0rem;
  padding-bottom: 0rem;
  background-color: #f6f5f9;
}

@media screen and (max-width: 767px) {
  .section.is-nc-grid2 {
    padding-top: 5rem;
    padding-bottom: 4.5rem;
  }
}

@media screen and (max-width: 479px) {
  .section.is-nc-grid2 {
    padding-top: 4rem;
    padding-bottom: 4.5rem;
  }
}

.section.is-nc-video {
  padding-top: 7.5rem;
  padding-bottom: 7.5rem;
  background-color: var(--color-primary--dark-purple);
}

@media screen and (max-width: 991px) {
  .section.is-nc-video {
    padding: 0rem;
  }
}

.section.is-nc-banner {
  overflow: hidden;
  padding-top: 10.25rem;
  padding-bottom: 10.25rem;

  background-image: url("https://cdn.prod.website-files.com/66603dc3a8308da80ba98f5e/6718e639b392dc29ad0f716a_nc%20banner%20square.svg");
  background-position: 0% 0%;
  background-size: auto 90%;
  background-repeat: no-repeat;
}

@media screen and (max-width: 991px) {
  .section.is-nc-banner {
    padding-top: 5rem;
    padding-bottom: 5rem;
  }
}

@media screen and (max-width: 767px) {
  .section.is-nc-banner {
    padding-top: 4.5rem;
    padding-bottom: 4.5rem;

    background-image: none;
    background-position: 0px 0px;
    background-size: auto;
    background-repeat: repeat;
  }
}

@media screen and (max-width: 479px) {
  .section.is-nc-banner {
    padding-top: 4rem;
    padding-bottom: 4.5rem;
  }
}