.popop_component {
  position: fixed;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  z-index: 9999;

  display: none;
  overflow: auto;
  padding: 3rem;
  justify-content: center;
  align-items: stretch;

  background-color: hsla(261.42857142857144, 53.85%, 10.20%, 0.60);
}

@media screen and (max-width: 991px) {
  .popop_component {
    overflow: visible;
    justify-content: center;
    align-items: center;
  }
}

@media screen and (max-width: 767px) {
  .popop_component {
    padding: 1.5rem;
  }
}

.popup_wrapper {
  position: relative;

  display: none;
  overflow: hidden;
  max-width: 83rem;
  grid-auto-columns: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  grid-template-columns: 1fr 1.25fr;
  grid-template-rows: auto;

  border-radius: 0.75rem;

  background-color: var(--color-primary--white);
}

@media screen and (max-width: 991px) {
  .popup_wrapper {
    display: flex;
    overflow: auto;
    max-height: 100%;
    flex-direction: column;
    flex-wrap: nowrap;
  }
}

.popup_left {
  display: flex;
  overflow: auto;
  flex-direction: column;
  flex-wrap: nowrap;

  background-image: url("https://cdn.prod.website-files.com/66603dc3a8308da80ba98f5e/667096524ef37f84d88317b9_popup%20bottom%20shape.svg"), url("https://cdn.prod.website-files.com/66603dc3a8308da80ba98f5e/667096556d32c379c2d4e84a_popup%20top%20shape.svg"), linear-gradient(138deg, hsla(291.42857142857144, 30.43%, 95.49%, 1.00), hsla(194.99999999999994, 66.67%, 95.29%, 1.00) 54%, hsla(156.923076923077, 56.52%, 95.49%, 1.00) 100%, hsla(198.13953488372093, 99.08%, 42.55%, 1.00));
  background-position: 0% 100%, 100% 0%, 0px 0px;
  background-size: auto, auto, auto;
  background-repeat: no-repeat, no-repeat, repeat;

  color: var(--color-primary--dark-grey);
}

@media screen and (max-width: 991px) {
  .popup_left {
    display: none;
    overflow: visible;
  }
}

.popup_left-top {
  display: flex;
  padding: 2.5rem 2.5rem 1rem;
  flex-direction: column;
  justify-content: flex-start;
  flex-wrap: nowrap;
  align-items: flex-start;
  grid-column-gap: 2.5rem;
  grid-row-gap: 2.5rem;
}

.popup_logo {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.popup_logo.is-mobile {
  display: none;
  margin-right: auto;
  margin-left: auto;
}

@media screen and (max-width: 991px) {
  .popup_logo.is-mobile {
    display: flex;
  }
}

.is-h3 {
  font-family: 'DM Sans';
  font-size: 2rem;
  line-height: 1.25;
}

@media screen and (max-width: 767px) {
  .is-h3 {
    font-size: 2.25rem;
  }
}

@media screen and (max-width: 479px) {
  .is-h3.is-tabs {
    font-size: 1.375rem;
  }
}

@media screen and (max-width: 767px) {
  .is-h3.is-mobile-medium {
    font-weight: 500;
  }
}

.is-body-l {
  font-size: 1.2rem;
  line-height: 1.4;
  font-weight: 500;
}

@media screen and (max-width: 767px) {
  .is-body-l {
    font-size: 1.125rem;
  }
}

.is-body-l.is-cl {
  line-height: 1.6;
}

.is-white-opacity-0-6 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-wrap: nowrap;
  align-items: flex-start;

  color: hsla(0, 0.00%, 100.00%, 0.60);
}

.is-text-semibold {
  font-weight: 600;
}

.is-body-l.is-cap-every-word {
  text-transform: capitalize;
}

.is-body-l.is-blog-subheading {
  margin-top: -1rem;
  color: var(--color-primary--dark-grey-0-8);
}

.is-text-normal {
  font-weight: 400;
}

.popup_list {
  display: flex;
  margin-bottom: 0px;
  padding-left: 20px;
  flex-direction: column;
  flex-wrap: nowrap;
  grid-column-gap: 0.625rem;
  grid-row-gap: 0.625rem;
}

.is-body-xs {
  font-size: 0.875rem;
  line-height: 1.4;
}

.is-0-6-opacity {
  color: hsla(261.42857142857144, 13.21%, 20.78%, 0.60);
}

.is-bottom-16 {
  margin-bottom: 1rem;
}

.is-dg-0-8-opacity {
  color: var(--color-primary--dark-grey-0-8);
}

.is-bottom-32 {
  margin-bottom: 2rem;
}

.popup_left-bottom {
  position: relative;
  overflow: visible;
  margin-top: auto;
  padding-bottom: 2.5rem;
}

.popup_maruqq-title {
  display: flex;
  width: 100%;
  margin-bottom: 0rem;
  justify-content: center;
  align-items: center;

  font-size: 1rem;
  line-height: 1.35;
}

@media screen and (max-width: 767px) {
  .popup_maruqq-title {
    font-size: 1.125rem;
  }
}

.marquee_layout {
  position: relative;

  display: flex;
  width: 100%;
  padding-top: 1.125rem;
  padding-bottom: 1.125rem;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;

  color: hsla(0, 0.00%, 28.24%, 1.00);
  font-size: 1.25rem;
  line-height: 1.2;
  letter-spacing: -0.02rem;
}

@media screen and (max-width: 767px) {
  .marquee_layout {
    margin-top: 2.38rem;
  }
}

.marquee_layout.is-logos {
  overflow: hidden;
  padding-top: 0rem;
  padding-bottom: 0rem;
}

.marquee_layout.is-testimonials {
  font-size: 1rem;
  font-weight: 400;
}

.marquee_track {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex: 0 0 auto;
}

.marquee_track.is-testimonial-card {
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
}

.marquee_track.is-popup {
  opacity: 0.32;
}

.pl_clw {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex: 0 0 auto;
}

.pl_cl {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.pl_ci {
  margin-right: 3.25rem;
  flex: 0 0 auto;
}

.pl_img {
  height: 4rem;
}

@media screen and (max-width: 767px) {
  .pl_img {
    height: 4rem;
  }
}

.pl_img.is-popup {
  height: 3rem;
}

.marquee_embed {
  display: none;
}

.popup_right {
  display: flex;
  overflow: auto;
  padding: 4rem 4rem 2.5rem;
  flex-direction: column;
  justify-content: flex-start;
  flex-wrap: nowrap;
  align-items: stretch;
  grid-column-gap: 2rem;
  grid-row-gap: 2rem;

  text-align: center;
}

@media screen and (max-width: 991px) {
  .popup_right {
    overflow: visible;
    padding: 3rem 2.5rem 4rem;
  }
}

@media screen and (max-width: 767px) {
  .popup_right {
    padding: 4.375rem 1.5rem;
  }
}

.is-h3 {
  font-family: 'DM Sans';
  font-size: 3.5rem;
  line-height: 1;
}

@media screen and (max-width: 767px) {
  .is-h3 {
    font-size: 2.25rem;
  }
}

@media screen and (max-width: 479px) {
  .is-h3.is-count {
    font-size: 1.375rem;
  }
}

.is-text-center {
  text-align: center;
}

.is-h3.is-txt-white {
  color: var(--color-primary--white);
}

.popup_form_block {
  display: none;
}

.popup_form {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}

.popup_form_field {
  height: 3.375rem;
  margin-bottom: 1rem;
  padding-right: 1.5rem;
  padding-left: 1.5rem;

  border-style: solid;
  border-width: 1px;
  border-color: hsla(261.42857142857144, 13.21%, 20.78%, 0.12);
  border-radius: 0.75rem;
}

.popup_form_fields-wrapper {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
}

.popup_form_submit-button {
  height: 3.375rem;
  margin-top: 2rem;
  padding-right: 1.5rem;
  padding-left: 1.5rem;

  border-radius: 0.75rem;

  background-color: hsla(261.42857142857144, 53.85%, 10.20%, 0.80);

  color: var(--color-primary--white);
  font-size: 1.25rem;
}

.popup_form_checkbox {
  width: 1.125rem;
  height: 1.125rem;
  margin-right: 1rem;

  border: 1px solid var(--color-primary--dark-purple);
  border-radius: 0.25rem;

  cursor: pointer;
}

.is-pp-ty-none {
  max-width: 28rem;
  margin-top: auto;
  margin-right: auto;
  margin-left: auto;
  font-size: 0.875rem;
}

.is-link-span {
  font-size: 0.875rem;
  font-weight: 700;
  text-decoration: underline;
}

.is-link-span.is-vl-popup {
  color: var(--color-secondary--blue);
  font-weight: 400;
}

@media screen and (max-width: 767px) {
  .is-link-span.is-vl-popup {
    white-space: nowrap;
  }
}

.popup_close-button {
  position: absolute;
  left: auto;
  top: 2rem;
  right: 2rem;
  bottom: auto;
  z-index: 10;

  width: 1.5rem;
  height: 1.5rem;

  background-image: url("https://cdn.prod.website-files.com/66603dc3a8308da80ba98f5e/666d9414f67e585ed8a32205_close%20button.svg");
  background-position: 50% 50%;
  background-size: auto;
  background-repeat: no-repeat;

  cursor: pointer;
}

@media screen and (max-width: 767px) {
  .popup_close-button {
    top: 1.5rem;
    right: 1.5rem;
    width: 1rem;
    height: 1rem;
  }
}

#w-node-_841d7134-a336-f034-acc5-1025f7017255-f7017243 {
}
#w-node-_841d7134-a336-f034-acc5-1025f7017279-f7017243 {
}
#w-node-_841d7134-a336-f034-acc5-1025f7017280-f7017243 {
}