.footer_link {
  font-size: 1rem;
}

.footer_link:hover {
  color: var(--color-primary--white-0-6);
}

@media screen and (max-width: 991px) {
  .footer_link:hover {
    color: var(--color-primary--white);
  }
}

.footer_link.is-email {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  grid-column-gap: 0.875rem;
  grid-row-gap: 0.875rem;
}