.footer_legal-link {
  color: hsla(0, 0.00%, 100.00%, 0.80);
  font-size: 0.875rem;
}

.footer_legal-link:hover {
  color: var(--color-primary--white-0-6);
}

@media screen and (max-width: 991px) {
  .footer_legal-link:hover {
    color: hsla(0, 0.00%, 100.00%, 0.80);
  }
}