.is-body-m {
  font-size: 1.125rem;
  line-height: 1.4;
}

@media screen and (max-width: 479px) {
  .is-body-m {
    font-size: 1.125rem;
  }
}

.is-body-m.is-white-0-6-opacity {
  color: var(--color-primary--white-0-6);
}

.is-text-bold {
  font-weight: 700;
}

.is-body-m.is-text-purple {
  color: var(--color-primary--dark-purple);
}

.is-text-semibold {
  font-weight: 600;
}

.is-body-m.is-uc-tabs {
  color: hsla(0, 0.00%, 100.00%, 0.50);
}

.is-dg-0-8-opacity {
  color: var(--color-primary--dark-grey-0-8);
}

.is-text-dark-grey {
  color: var(--color-primary--dark-grey);
}